.map__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 0;
}

.map__content {
  max-width: 600px;
  text-align: center;
}

.map__title {
  font-family: 'Montserrat', sans-serif;
  font-size: 4rem;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  line-height: 4.5rem;
}

h1 {
  margin: 2rem 0;
}


.map__image__wrapper {
  position: relative;
  width: 100%;
  height: auto;
}


.map__icon {
  position: absolute;
  width: 100px;
  height: 144px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  transition: transform 0.2s ease;
}

.map__icon:hover
.map__icon:active {
  transform: scale(1.15);
}

.map__icon__allegator { top: 55%; left: 25%; }
.map__icon__panda     { top: 47%; left: 72%; }
.map__icon__tiger     { top: 65%; left: 76%; }
.map__icon__coala     { top: 77%; left: 85%; }
.map__icon__lemur     { top: 75%; left: 60%; }
.map__icon__eagle     { top: 54%; left: 16%; }
.map__icon__gorilla   { top: 61%; left: 53%; }
.map__icon__lion      { top: 58%; left: 44%; }
