.live {
  position: relative;
  display: flex;
  align-items: flex-start;
  min-height: 100vh;
  background: #f2f2f2;
  gap: 0;
}

.live__header{
  padding: 1.5rem 0;
}
/* Sidebar */
.live__sidebar {
  position:absolute;
  top:0px;
  left: 0;
  width: 220px;
  height: auto;
  background: #20113d;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 100;
}

.live__sidebar.open {
  width: 300px;
}

.live__collapse {
  transition: transform 0.3s ease;
}

.live__sidebar.open .live__collapse {
  transform: rotate(180deg);
}

.live__sidebar .label {
  display: none;
}

.live__sidebar.open .label {
  display: flex;
  justify-content: flex-end;
  align-content: center;
}

.animal-label {
  display: none;
  color: white;
  line-height: 1.5em;
  font-size: 1.2rem;
  width: 100%;
}


.live__logo {
  width: 100%;
  display: flex;
  flex-direction: row; 
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding-bottom: 20px;
}

.live__logo img {
  width: 110px;
  padding: 0;
  border: none;
}

.live__collapse {
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
  cursor: pointer;
  opacity: 0.7;
  margin-right: 10px;
  margin-left: auto;
  padding: 0;
}

.live__collapse:hover {
  opacity: 1;
}

.live__animals {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.sidebar__boxes {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 20px 10px;
  border-top: 2px solid white;
  box-sizing: border-box;
}


.sidebar__boxes img {
  object-fit: contain;
  background: #f58021;
  border: 3px solid transparent;
  border-radius: 80%;
  width: 70px;
  height: 70px;
  padding: 10px;
  cursor: pointer;
  transition: transform 0.3s;
  display: block;
}

/* closed but highlited */
/* .sidebar__boxes.active img {
  background: #fff;
  border: #20113d solid 3px;
  outline: 4px solid #fff;
} */

.sidebar__boxes:hover img,
.sidebar__boxes:active img {
  background: #fff;
  border: #20113d solid 3px;
  outline: 4px solid #fff;
}

/* Active state for current page */
.sidebar__boxes.active img {
  background: #fff;
  border: #20113d solid 3px;
  outline: 4px solid #fff;
}

.live__sidebar.open .sidebar__boxes img {
  object-fit: contain;
  background: #f58021;
  border-radius: 80%;
  width: 55px;
  height: 55px;
  padding: 10px;
  justify-content: flex-start;
  padding-left: 20px;
}

.live__sidebar.open #lemur-open {
  width: 5.3rem;
}

.live__sidebar.open .animal-label {
  display: block;
}

/* .live__animals img:hover,
.live__animals img:active,
.live__animals img:focus {
  background: #fff;
  border: #20113d solid 3px;
  outline: 4px solid #fff;
} */

.live__arrow-down {
  color: white;
  font-size: 2rem;
  padding:15px 0;
  cursor: pointer;
  opacity: 0.7;
}

.live__arrow-down.open {
  /* margin-top: auto;  */
  color: white;
  font-size: 2rem;
  padding:30px 0;
  cursor: pointer;
  opacity: 0.7;
}

.live__arrow-down:hover {
  opacity: 1;
}



/* Content */
.live__content {
 flex: 1;
 min-width: 0;
 padding: 0; 
  
}

.live__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.live__header h1 {
  color: #1f9c8b;
  font-size: 2.5rem;
  letter-spacing: 0.5em;
  padding-left: 30%;
}


/* transferred orange btn from landing page */
.hero__btn {
  display: inline-flex;
  align-items: center;
  gap: 12px;
  background: #f58021;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 5px 30px;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-weight: normal;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  cursor: pointer;
  transition: background 0.2s;
}

.btn-arrow {
  width: 25px;
  height: 35px;
  flex-shrink: 0;
  background: transparent;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.2s;
}

.hero__btn:hover { background: #D26004; }

.live__video {
  position: relative;
}

.live__video img {
  border: 4px solid transparent;
}

.live__video a {
  position: relative;
  display: block;
}

.play-btn {
  position: absolute;
  top: 49.5%;
  left: 50.5%;
  transform: translate(-50%, -50%);
  width: 75px;
  height: 55px;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  font-size: 1.8rem;
  border-radius: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.2s;
}

.live__video a:hover .play-btn {
  background: #f58021;
}

.live__video a:hover img {
  border: 4px solid #D26004;
}
/* .play {
  position: absolute;
  z-index: 5;
  top: 46.5%;
  left: 47.5%;
}

.play:hover {
  background-color: #D26004;
  border-radius: 20px;
  border-style: none;
} */

/* More Views */
 .live__more h3 {
  text-align: center;
  margin-bottom: 30px;
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  font-weight: normal;
  color: black; 
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.thumb img {
  width: 100%;
  border-radius: 6px;
  border: 4px solid transparent;
  opacity: 0.7;
  transition: 0.3s;
}

.live__video img:hover {
border: 4px solid #D26004;
}

.thumb.active img,
.thumb:hover img {
  opacity: 1;
  border: 4px solid #D26004;
}

.prev,
.next {
  /* background: none;
  border: 1px solid black;
  font-size: 4rem;
  font-weight: normal;
  cursor: pointer;
   */
} 

/* Brought from another page start */
.testimonial__btn__arrow {
  width: 3rem;
  height: 3rem;
  background: transparent;
  color: #20113D;
  cursor: pointer;
}

/* Brought from another page end */

.live__slider {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-bottom: 50px;
}

.slider__viewport {
  overflow: hidden;
  width: 1100px; 
}

.slider__track {
  display: flex;
  transition: transform 0.5s ease;
}

.thumb {
  min-width: 350px;
  height: 260px;
  margin-right: 20px;
  cursor: pointer;
}

.thumb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Purple stipre part starts here */

.donation__container {
  background: #20113D;
}

.donation__title {
  width: 800px;
  line-height: 1.5em;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.donation__title h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: light;
  font-size: 2.5rem;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding-bottom: 0.5rem;
}

.donation__title p {
  font-family: 'Montserrat', sans-serif;
  font-weight: light;
  font-size: 1rem;
  color: #cccccc;
}

.donation__purple {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.donation__form {
  padding-bottom: 2.5rem;
}

.donation__form h2 {
  color: #cccccc;
  font-weight: normal;
  font-size: 1.5rem;
  padding: 0.5em;
  margin:0;
}

  /* Button separate */

.btn-split {
  display: inline-flex;
  align-items: stretch;
  border: 1.5px solid #ccc;
  border-radius: 4px;
  padding: 0;
  background: transparent;
  overflow: hidden;
  cursor: pointer;
  transition: border-color 0.2s;
}

.btn-split__text {
  padding: 25px 35px;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #ccc;
  background: none;
  border: none;
  cursor: pointer;
  white-space: nowrap;
}

.btn-split__arrow {
  width: 25px;
  height: 45px;
  flex-shrink: 0;
  background: #f58021;
  color: #fff;
  padding: 14px 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.2s;
}
.btn-split:hover .btn-split__arrow { 
  background: #D26004;
  transform: scale(0.90);
  transition: transform 0.1s;
 }


/* Mini Panda info sectionis here starts */

.panda-info {
  background: #f2f2f2;
  padding: 100px 0;
  font-family: 'Montserrat', sans-serif;
}

.panda-fact {
  max-width: 1040px;
  margin: 0 auto 80px;
  padding: 40px;
  background: white;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.3);
}

.panda-fact h3 {
  color: #20b2aa;
  letter-spacing: 0.1em;
  margin-bottom: 20px;
  font-weight: normal;
  font-size: 1.8rem;
}

.panda-fact p {
  max-width: 1200px;
  margin: 0 auto;
  color: #555;
  line-height: 1.6;
  font-weight: normal;
  font-size: 1.5rem;
}

/* Main content layout  */

.panda-content {
  margin: 0 auto 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

/* Left side */

.panda-details {
  flex: 1;
}

.panda-details p {
  margin-bottom: 18px;
  font-size: 1.5rem;
  color: #444;
}

.panda-details span {
  font-weight: 600;
  margin-right: 10px;
}

.view-map {
  margin-left: 40px;
  color: #ff7a00;
  font-weight: 600;
  text-decoration: none;
}

/* Right side */

.panda-image {
  flex: 1;
}

.panda-image img {
  width: 100%;
  max-width: 400px;
  border-radius: 10px;
  display: block;
}

/*  Description  */

.panda-description {
  margin-right: 280px;
  color: #555;
  line-height: 1.7;
  text-align: justify;
}