

.footer {
  background: #20113D;
  color: #fff;
  padding: 25px 0;
}


.footer_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

.footer__logo {
  display: flex;
  gap: 40px;
}

.footer__logo img {
  width: 100%;
  max-width: 138px;
  height: auto;
  
}

.footer__list {
  display: flex;
  gap: 40px;
}

.footer__list a {
  color: #fff;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  transition: 0.3s;
  text-transform: uppercase;
}

.footer__list a:hover {
  color: #f58021;
}

/* Footer button is here */
.donate__btn {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background: #20113D;
  border: solid 1px #fff;
  border-radius: 5px;
  font-family: 'Montserrat', sans-serif;
  padding: 1em 1.5em;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.btn-arrow {
  width: 25px;
  height: 25px;
  flex-shrink: 0;
  background: transparent;
  color: #fff;
  padding-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.2s;
}

.donate__btn:hover,
.btn-arrow {
  color: #ccc;
  transform: scale(0.90);
  transition: transform 0.1s;
} 

/* Button ends here */

.footer__divider {
  border: none;
  border-top: 1px solid #fff;
  margin: 40px 0;
}

/* From here bottom level starts */

.footer__copyright ul {
  display: flex;
  gap: 40px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.footer__copyright ul li {
  font-family: 'Montserrat', sans-serif;
  list-style: none;
  font-size: 14px;
  color: #fff;
}

.footer__socials {
  display: flex;
  gap: 20px;
}

.footer__socials img {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  transition: 0.3s;
}

.footer__socials img:hover {
  opacity: 0.6;
}















