@font-face {
  font-family: 'Montserrat';
  src: url('../../assets/fonts/montserrat/Montserrat-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../../assets/fonts/Montserrat/Montserrat-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../../assets/fonts/Roboto/RobotoCondensed-Medium.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../../assets/fonts/Roboto/RobotoCondensed-Black.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0;
  /* outline: 2px solid red; */
}


/* <svg class="btn-arrow" viewBox="0 0 24 24" fill="none"><line x1="2" y1="12" x2="19" y2="12" stroke="currentColor" stroke-width="2.5" stroke-linecap="round"/><polyline points="13,5 21,12 13,19" fill="none" stroke="currentColor" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/></svg> */

/* opacity: 0.85;
  transform: scale(0.98); */