

.header {
  width: 100%;
  background: #ffffff;
  background-color: #F58021;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 110px;
  
}


.header__logo a {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: 700;
  text-transform: lowercase;
  color: #000;
  text-decoration: none;
  width: 6rem;
  height: 3.125rem;
}


.nav__list {
  display: flex;
  gap: 40px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav__link {
  font-family: 'Montserrat-Bold', sans-serif;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #000;
  position: relative;
  transition: 0.3s;
}


.nav__link:hover {
  color: #00A092;
}


.nav__link.active {
  color: #00A092;
  font-weight: 600;
}


.header__socials {
  display: flex;
  gap: 20px;
}

.header__socials img {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  transition: 0.3s;
}

.header__socials img:hover {
  opacity: 0.85;
  transform: scale(0.90);
}



/* Responsive - 1200 screen */

@media (max-width: 1200px) {

  .header__container {
    height: 90px;
  }

  .nav__list {
    gap: 20px;
  }

  .nav__link {
    font-size: 15px;
  }

  .header__socials img {
    width: 1.6rem;
    height: 1.6rem;
  }

}


/* Responsive - 640 screen */



/* Responsive - 320 screen */